.container {
	height: 160px;
	background-color: #1f43a3;
}

.sidemenu {
	background-color: #001268;
}

.headwbw img {
	margin-top: 20px;
}

.phone_search {
	display: none;
}

.header .search {
	position: relative;
	margin-top: 50px;
}

.header .search .tex {
	color: #FFFFFF;
	font-size: 0.875rem;
	box-sizing: border-box;
	padding-left: 20px;
	width: 200px;
	height: 30px;
	background-color: #3d61c2;
	border-radius: 30px;
}

.header .search .tex::-webkit-input-placeholder {
	color: #d3d3d4;
}

.header .search .bth {
	background: url(../img/icon/search.png) center no-repeat;
	width: 36px;
	height: 35px;
	position: absolute;
	right: 0.3125rem;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.header .img {
	margin-top: 15px;
}

.sidemenu .sidemenulist {
	display: flex;
	margin: 0 auto;
}

.sidemenu .sidemenulist li {
	flex: 1;
	position: relative;
}

.sidemenu .sidemenulist li a {
	color: #FFFFFF;
	display: block;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 1rem;
	position: relative;
	z-index: 9;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.sidemenu .sidemenulist li.on a {
	background-color: #0286c7;
}

.sidemenu .sidemenulist li a:hover {
	background-color: #0286c7;
}

.sidemenu .sidemenulist li i {
	position: absolute;
	display: inline-block;
	width: 1px;
	height: 20px;
	background-color: #FFFFFF;
	right: -1px;
	top: 50%;
	transform: translateY(-50%);
}

.sidemenu .sidemenulist li:last-child i {
	display: none;
}

.sidemenu .sidemenulist li:hover i {
	display: none;
}

.sidemenu .sidemenulist li.on i {
	display: none;
}

.sidemenu_wrap {
	margin-top: -25px;
	position: relative;
	z-index: 99;
}

.banner {
	margin-top: 10px;
}


.banner .swiper-pagination-bullet {
	width: 14px;
	height: 14px;
	outline: none;
	background-color: #FFFFFF;
	opacity: .6;
}

.banner .swiper-pagination-bullet-active {
	background-color: #fe8300;
	opacity: 1;
}

.index_title {
	background: url(../img/icon/title_bg.png) right no-repeat;
	background-size: cover;
	line-height: 60px;
	margin-bottom: 15px;
}

.index_title .name {
	color: #333333;
	font-size: 1.5rem;
	font-weight: bold;
}

.index_title .name img {
	margin-right: 20px;
	vertical-align: top;
}

.index_title .more {
	margin-right: 20px;
}

.index_title .more a {
	color: #666666;
	font-size: 1rem;
}
.tempWrap{
	height: 412px !important;
 }

.index_title .more a:hover {
	color: #0286c7;
	text-decoration: underline;
}

.index_title .more img {
	vertical-align: -3px;
	margin-left: 5px;
}

.index_box {
	margin-top: 40px;
}

.index_box .left {
	width: 60%;
}

.index_box .left .box {
	display: flex;
}

.index_box .left .box .list {
	flex: 1;
	margin-left: 50px;
	position: relative;
}

.index_box .left .hot {
	width: 540px;
	position: relative;
}

.index_box .left .hot .img {
	position: relative;
	padding-bottom: 76%;
	height: 0;
}

.index_box .left .hot img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.index_box .left .hot .text {
	position: absolute;
	width: 100%;
	height: 60px;
	background-color: rgba(0, 18, 104, .8);
	left: 0;
	bottom: 0;
	color: #FFFFFF;
	font-size: 0.875rem;
	text-align: center;
	box-sizing: border-box;
	padding: 0 10px;
	padding-top: 10px;
}

.index_box .left .hot .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	outline: none;
	background-color: #cccccc;
	opacity: 1;
}

.index_box .left .hot .swiper-pagination-bullet-active {
	background-color: #fe8300;
}

.index_box .left .hot .swiper-pagination {
	bottom: 5px;
}

.index_box .left .list ul {
	position: absolute;
	width: 100%;
}

.index_box .left .list ul li {
	margin-bottom: 14px;
}

.index_box .left .list ul li:last-child {
	margin-bottom: 0;
}

.index_box .left .list ul li a {
	display: flex;
}

.index_box .left .list ul li .time {
	color: #666666;
	font-size: large;
	width: 150px;
}

.index_box .left .list ul li .text {
	color: #111111;
	font-size: 0.875rem;
	flex: 1;
	margin-right: 10px;
}

.index_box .left .list ul li .text:hover {
	color: #1f43a3;
}

.index_box .right {
	width: 37%;
}

.index_box .right ul li {
	background-color: #d9dce8;
	box-sizing: border-box;
	padding: 10px;
	height: 70px !important;
	margin-bottom: 1px;
}

.index_box .right ul li:last-child {
	margin-bottom: 0;
}

.index_box .right ul li a {
	display: flex;
}

.index_box .right ul li .time {
	width: 50px;
	height: 50px;
	text-align: center;
}

.index_box .right ul li .time .t {
	background-color: #FFFFFF;
	color: #1f43a3;
	font-size: 1.25rem;
	line-height: 30px;
}

.index_box .right ul li .time .t2 {
	background-color: #1f43a3;
	font-size: 0.75rem;
	color: #FFFFFF;
	line-height: 20px;
}

.index_box .right ul li .text {
	height: 50px;
	margin-left: 10px;
	flex: 1;
	box-sizing: border-box;
	display: table;
}

.index_box .right ul li .text .t {
	color: #222222;
	font-size: 0.875rem;
	display: table-cell;
	vertical-align: middle;
}

.index_box .right .index_title {
	margin-bottom: 1px;
}

.index_box .right ul li:hover .t {
	color: #1f43a3;
}

.index_box2 {
	margin-top: 40px;
}

.index_box2 ul li {
	background-color: #ececec;
	width: 49%;
	margin-right: 2%;
}

.index_box2 ul li:last-child {
	margin-right: 0;
}

.index_box2 ul li a {
	display: flex;
}

.index_box2 ul li .time {
	margin-left: 20px;
	background-color: #1f43a3;
	color: #FFFFFF;
	text-align: center;
	width: 80px;
	height: 60px;
}

.index_box2 ul li .time .t {
	font-size: 1.5rem;
}

.index_box2 ul li .time .t2 {
	font-size: 0.875rem;
}

.index_box2 ul li .text {
	margin: 30px 20px;
	flex: 1;
	position: relative;
}

.index_box2 ul li .text .t {
	color: #222222;
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 10px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}

.index_box2 ul li .text dl dd {
	color: #666666;
	font-size: 0.875rem;
	line-height: 27px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.index_box2 ul li:hover .text .t {
	color: #1f43a3;
}

.index_box3 {
	background-color: #ececec;
	padding: 30px 0;
	margin-top: 40px;
	margin-bottom: 40px;
}

.index_box3 .left {
	width: 49%;
	display: flex;
}

.index_box3 .left .image {
	width: 490px;
}

.index_box3 .left .image .img {
	position: relative;
	padding-bottom: 61%;
}

.index_box3 .left .image .img img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.index_box3 .left .text {
	flex: 1;
	background-color: #1f43a3;
	box-sizing: border-box;
	padding: 30px 20px;
}

.index_box3 .left .text .t {
	color: #FFFFFF;
	font-size: 1.5rem;
	font-weight: 600;
}

.index_box3 .left .text .txt {
	color: #FFFFFF;
	font-size: 0.875rem;
	margin-top: 20px;
	line-height: 27px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
}

.index_box3 .left .more {
	margin-top: 30px;
}

.index_box3 .left .more a {
	display: inline-block;
	width: 122px;
	height: 40px;
	color: #ffffff;
	font-size: 0.875rem;
	border: 1px solid #FFFFFF;
	text-align: center;
	line-height: 38px;
	box-sizing: border-box;
}

.index_box3 .left .more a:hover {
	text-decoration: underline;
}

.index_box3 .right {
	width: 49%;
}

.index_box3 .right .title {
	line-height: 60px;
	border-bottom: 2px solid #0286c7;
	padding-bottom: 10px;
}

.index_box3 .right .title .name {
	color: #333333;
	font-size: 1.5rem;
	font-weight: bold;
}

.index_box3 .right .title .name img {
	margin-right: 20px;
}

.index_box3 .right .title .more a {
	color: #666666;
	font-size: 1rem;
}

.index_box3 .right .title .more a:hover {
	color: #1f43a3;
	text-decoration: underline;
}

.index_box3 .right .title .more img {
	vertical-align: -3px;
	margin-left: 5px;
}

.index_box3 .right ul {
	margin-top: 20px;
}

.index_box3 .right ul li {
	width: 50%;
	box-sizing: border-box;
	padding-right: 20px;
	margin-bottom: 10px;
}

.index_box3 .right ul li:nth-child(2n) {
	padding-right: 0;
}

.index_box3 .right ul li a {
	color: #222222;
	font-size: 0.875rem;
}

.index_box3 .right ul li a:hover {
	color: #1f43a3;
}

.footer {
	height: 188px;
	background-size: cover !important;
	box-sizing: border-box;
	padding-top: 40px;
}

.footer .left .text {
	color: #ffffff;
	font-size: 0.875rem;
	border-left: 1px solid #FFFFFF;
	margin-left: 30px;
	padding-left: 30px;
}

.footer .left .text p {
	margin-bottom: 10px;
}

.footer .left .text p:last-child {
	margin-bottom: 0;
}

.wrap {
	margin-top: 10px;
	margin-bottom: 20px;
	display: flex;
}

.wrap .index_link {
	width: 12.5%;
	background-color: #efefef;
}

.wrap .index_link span{
	display: block;
	height: 60px;
	background-color: #1f6bbf;
	color: #FFFFFF;
	font-size: 1.5rem;
	box-sizing: border-box;
	padding-left: 20px;
	line-height: 60px;
	margin-bottom: 2px;
}

/* .wrap .index_link ul {
	margin-left: 1vw;
}
 */
.wrap .index_link ul li a {
	color: #303133;
	display: block;
	height: 56px;
	line-height: 56px;
	font-size: 1rem;
	padding: 0 20px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	white-space: nowrap;
	list-style: none;
	background-color: #c5d5e5;
	margin-bottom: 2px;
}

.wrap .index_link ul li a:hover {
	background-color: #5d92cd;
	color: #FFFFFF;
}

.wrap .index_link ul li.on a {
	background-color: #5d92cd;
	color: #FFFFFF;
}

.ww {
	width: 87.5%;
}

.wrap .index_title {
	margin-left: 20px;
	margin-top: 1rem;
}

.wrap .news_list {
	margin-left: 20px;
	box-sizing: border-box;
	margin-top: 10px;
}

.wrap .news_list ul li {
	background-color: #f2f2f2;
	padding: 10px;
}

.wrap .news_list ul li:nth-child(2n) {
	background-color: #FFFFFF;
}

.wrap .news_list ul li .text {
	color: #0b0b0b;
	width: 80%;
	font-size: 1rem;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
}

.wrap .news_list ul li .text:hover {
	transform: translateX(5px);
	color: #0286c7;
}

.wrap .news_list ul li .time {
	color: #888;
	font-size: 1rem;
}

.page {
	text-align: right;
	margin-top: 50px;
}

.page a {
	color: #777777;
	font-size: 1rem;
	margin: 0 5px;
}

.page .tx {
	width: 40px;
}

.page img {
	vertical-align: 1px;
}

.page .i1 {
	margin-right: 10px;
}

.page .i3 {
	display: none;
}

/* .page a:hover .i1 {
	display: none;
}

.page a:hover .i3 {
	display: inline-block;
	margin-right: 10px;
} */

.page .i2 {
	margin-left: 10px;
}

.page .i4 {
	margin-left: 10px;
	display: none;
}

/* .page a:hover .i2 {
	display: none;
}

.page a:hover .i4 {
	display: block;
	display: inline-block;
} */

.page em {
	color: #777777;
	font-size: 1rem;
	margin: 0 5px;
}

.page .on {
	color: #001268;
}

.page a:hover {
	color: #001268;
}

.page .but {
	padding: 0 5px;
	cursor: pointer;
}

.wrap .index_title {
	margin-left: 20px;
	margin-bottom: 0;
}

.wrap .index_title ul {
	margin-right: 20px;
}

.wrap .index_title ul li {
	font-size: 14px;
	color: #333333;
	margin-left: 5px;
}

.wrap .index_title ul li a {
	font-size: 14px;
	color: #333333;
}

.wrap .index_title .nav {
	width: 20px;
	position: relative;
	display: none;
}

.wrap .index_title .nav dl {
	position: absolute;
	min-width: 100%;
	white-space: nowrap;
	right: -10px;
	top: 30px;
	background-color: #FFFFFF;
	display: none;
	border: 1px solid #DDDDDD;
	padding: 10px 20px;
	box-shadow: 0 0 1px rgba(0, 0, 0, .5);
	text-align: right;
}

.wrap .index_title .nav dl dd {
	margin-bottom: 5px;
}

.wrap .index_title .nav dl dd:last-child {
	margin-bottom: 0;
}

.wrap .index_title .nav dl dd a {
	font-size: 1rem;
	color: #333333;
}

.wrap .content {
	margin-left: 20px;
}

.wrap .content .title {
	line-height: 50px;
	font-size: 20px;
	font-weight: 700;
	background-color: #d9dce8;
	text-align: center;
	padding-bottom: 2px;
}

.wrap .content .time {
	font-size: 0.625rem;
	color: #999999;
	background-color: #d9dce8;
	text-align: center;
	padding-bottom: 2px;
	padding-bottom: 10px;
}

.wrap .content .text {
	padding-top: 1rem;
	margin-top: 5px;
	font-size: 1rem;
	line-height: 30px;
	text-indent: 2rem;
}

.wrap .mechanism_list {
	margin-left: 20px;
	margin-top: 20px;
}

.wrap .mechanism_list ul li {
	border: 1px solid #d9dce8;
	border-top: 1rem solid #d9dce8;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.wrap .mechanism_list ul li .title {
	font-size: 1.25rem;
	line-height: 2.5rem;
	font-weight: bold;
	padding-left: 1.875rem;
	background-color: #ececec;
}

.wrap .mechanism_list ul li dl {
	display: flex;
	flex-flow: row wrap;
	padding-left: 3.125rem;
	margin: 1rem 0;
}

.wrap .mechanism_list ul li dl dd {
	width: 20rem;
	height: 2rem;
	padding-top: 1rem;
}

.wrap .team_list ul li dl dd {
	width: 10rem;
}

.wrap .mechanism_list ul li dl dd a {
	color: #0b0b0b;
	font-size: 1rem;
}

.wrap .mechanism_list ul li dl dd a:hover {
	color: #0286c7;
}

.wrap .team_list .tips {
	color: #0b0b0b;
	font-size: 1rem;
	margin-bottom: 20px;
	padding-left: 1.875rem;
}

.nav_n {
	margin-left: 20px;
	margin-top: 1rem;
}

.nav_n ul {
	white-space: nowrap;
	overflow-x: auto;
}

.nav_n ul li {
	margin-right: 10px;
	display: inline-block;
	float: none;
}

.nav_n ul li a {
	display: inline-block;
	background-color: #ececec;
	border: 1px solid #ececec;
	color: #333333;
	font-size: 1rem;
	width: 140px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}

.nav_n ul li:hover a {
	background-color: #d9dce8;
}

.wrap .index_link .hot{
	box-sizing: border-box;
	padding: 0 10px;
}

.wrap .index_link .hot .title {
	padding-top: 1rem;
	font-size: 1.125rem;
	font-weight: bold;
}

.wrap .index_link .hot dl dd {
	padding: .5rem 0;
}

.wrap .index_link .hot dl dd .time {
	background-color: rgba(44, 62, 112, 0.1);
	padding: 3px;
	font-size: 1rem;
	display: inline-block;
	color: #333333;
	margin-bottom: 2px;
}

.wrap .index_link .hot dl dd .text {
	color: #0b0b0b;
	font-size: .8rem;
	line-height: 1.5rem;
}

.wrap .index_link .hot dl dd .text:hover {
	color: #3c79c6;
}

/* ä¿®æ”¹ */
.index_box2 ul li a{
	display: block;
}

.index_box2 ul li .cle{
	display: flex;
}

.index_box2 ul li .text{
	margin-bottom: 10px;
	flex: 1;
	margin-top: 20px;
}

.index_box2 ul li .text2{
	margin: 0;
	padding: 0 20px 20px 20px;
}

.wrap .model_branch {
	margin-left: 20px;
}

.wrap .model_branch .content {
	margin: 0 auto;
	margin-top: 20px;
}

.wrap .model_branch .content .title {
	padding-left: 1.875rem;
	text-align: left;
	height: 3.75rem;
	padding-top: 0.625rem;
}

.wrap .model_branch ul {
	margin-top: 20px;
}

.wrap .model_branch ul li {
	width: 33%;
	box-sizing: border-box;
	padding: 2px;
	border: 1px solid #d9dce8;
	border-top: 1rem solid #d9dce8;
	margin-right: 0.5%;
}

.wrap .model_branch ul li:last-child {
	margin-right: 0;
}

.wrap .model_branch ul li .title {
	font-size: 1.25rem;
	line-height: 43px;
	background-color: #ececec;
	font-weight: bold;
	box-sizing: border-box;
	padding: 0 20px;
}

.wrap .model_branch ul li .title a{
	color: #666666;
	font-size: 14px;
	font-weight: normal;
}

.wrap .model_branch ul li dl {
	margin-top: 1.25rem;
}

.wrap .model_branch ul li dl dd a {
	display: block;
	color: #0b0b0b;
	font-size: 1rem;
	box-sizing: border-box;
	padding-left: 0.625rem;
	height: 2.5rem;
}

.wrap .model_branch ul li dl dd a:hover {
	color: #3c79c6;
}

.wrap .model_branch ul li .title a:hover{
	color: #3c79c6;
}

.banner_n {
	height: 156px;
	text-align: center;
	position: relative;
	background-size: cover !important;
	margin-top: -25px;
}

.banner_n span {
	position: absolute;
	left: 50%;
	top: 57%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	color: #FFFFFF;
	font-weight: bold;
	box-sizing: border-box;
	padding: 10px 50px;
	background-color: rgba(0, 0, 0, 0.5);
	white-space: nowrap
}

.sidemenu .sidemenulist li dl{
	position: absolute;
	width: 100%;
	background-color: #001268;
	display: none;
}

/*add*/
.wrap .index_link ul li.selected a {
    background-color: #5d92cd;
    color: #FFFFFF;
}
.wrap .index_link ul li.parent a {
    background-color: #5d92cd;
    color: #FFFFFF;
}

#search input.keyword{
	color: #FFFFFF;
	font-size: 0.875rem;
	box-sizing: border-box;
	padding-left: 20px;
	width: 200px !important;
	height: 30px;
	background-color: #3d61c2;
	border-radius: 30px;
}
#search input.search{
	background: url(../img/icon/search.png) center no-repeat;
	width: 36px;
	height: 35px;
	position: absolute;
	right: 0.3125rem;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	margin-top: 0 !important;
}
.wp_paging li{background:none !important;border:none !important;}
